.edit_content {
  position: relative;
  float: left;
  min-height: 682px;
  display: block;
  width: 100%;
  border: 0px solid black;
}

#title_header {
  font-size: 18pt;
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
}


#translate_table {
  margin-bottom: 0px;
  border: 3px solid #507aaa;
  border-collapse:collapse;
  font-family: "Trebuchet", sans-serif;
  font: 16px/22px;
  table-spacing: 0;
  width: 100%;
}
#translate_table th {
  border-bottom: 0;
}

#translate_table th, #translate_table td {
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  border: 4px solid #507aaa;
}

#translate_table th:last-of-type, #translate_table td:last-of-type {
  padding-right: 0;
}

#translate_table th {
  background-color: #507aaa;
  color: white;
  font-size: 16pt;
}

#translate_table td {
  background-color: #white;
  color: black;
  font-size: 14pt;
  padding: 4px;
}

#translate_table td.num {
  background-color: #f0f0f0;
  color: black;
}

#translate_table .title {
  width: 100%;
  text-align: left;
  white-space: normal;
}

#translate_table .left {
  text-align: left;
}

td.best {
  background-color: #f0fff0;
}

td.banned {
  background-color: #fff0f0;
}

#translate_table td.trans {
  border-top: 2px solid #507aaa;
  border-bottom: 0;
}

#translate_table td.first {
  border-top: 4px solid #507aaa;
  border-bottom: 0;
}

#translate_table td.opt {
  border-top: 1px;
  border-bottom: 1px;
  padding-bottom: 5px;
  background-color: #f0f0f0;
}

#translate_table td.addmid {
  border-top: 2px solid #507aaa;
  padding-bottom: 5px;
  background-color: #f0f0f0;
}

#translate_table td.add {
  padding-bottom: 5px;
  background-color: #f0f0f0;
}

#translate_table span.rate, #translate_table span.moderate, #translate_table span.username {
  padding-right: 20px;
}

#translate_table span.username {
  font-style: italic;
  font-size: 12pt;
}

#translate_table span.notrans {
  font-style: italic;
  font-size: 12pt;
}

#pretext p, #text p {
  font-size: 16pt;
  text-indent: 20px;
}

.chapters {
  font-size: 14pt;
  font-family: "Trebuchet", sans-serif;
  text-align: center;
}
