.edit_content {
  position: relative;
  float: left;
  min-height: 682px;
  display: block;
  width: 100%;
  border: 1px solid black;
}

#title_header {
  font-size: 18pt;
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
}

#original_title {
  font-size: 14pt;
  font-family: "Arial", sans-serif;
  color: #707070;
  margin-bottom: 10px;
}

#text_status {
  float: right;
  font-size: 10pt;
  padding: 3px 3px;
  font-family: monospace;
  margin-bottom: 10px;
}

#text_status.publicate {
  background-color: #22b14c;
  color: #fff;
}

#text_status.open {
  background-color: #80bfff;
}

#text_status.invite {
  background-color: #036;
  color: #fff;
}

#text_status.closed {
  background-color: #e92639;
  color: #fff;
}

#text_status.secret {
  background-color: #777;
  color: #fff;
}

#text_status.deleted {
  background-color: #000;
  color: #fff;
}

#information {
  margin-top: 20px;
}

.info_parameter {
	width: 100px;
	font-weight: 700;
  line-height: 1.3;
	padding: 5px 5px 5px 0;
  vertical-align: top;
}

.info_value {
	padding: 5px 0px;
  line-height: 1.3;
  vertical-align: top;
}

.info_value p {
  margin-bottom: 1em;
}

.text_menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

.text_menu_component {
  font: 12px/18px sans-serif;
  width: 154px;
  display: inline-block;
  position: relative;
  padding: 2px;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
}

.text_menu_component:hover {
  border-color: #000;
  text-decoration: none;
}

.text_menu_component .image {
  margin-right: 5px;
  vertical-align:middle;
}

.text_menu_component ul {
  padding: 0;
  position: absolute;
  top: 22px;
  left: -1px;
  width: 158px;
  display: none;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #000;
}

.text_menu_component ul li {
  padding: 5px;
  background: #fff;
  display: block;
}

.text_menu_component ul a li {
  color: #000;
  text-decoration: underline;
}

.text_menu_component ul a:hover li {
  color: #fff;
}

.text_menu_component ul a:hover li {
   background: #000;
}

.text_menu_component:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#text_complaint  {
  float: right;
  font: 10px/18px;
  padding: 2px 0px;
  vertical-align: middle;
}

.chapter_header {
  font: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

#chapter_table {
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-collapse:collapse;
  font: 16px/22px;
  table-spacing: 0;
}
#chapter_table th {
  border-bottom: 1px solid #000;
}

#chapter_table th, #chapter_table td {
  padding-right: 10px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

#chapter_table th:last-of-type, #chapter_table td:last-of-type {
  padding-right: 0;
}

#chapter_table .title {
  width: 100%;
  text-align: left;
  white-space: normal;
}

#chapter_table .left {
  text-align: left;
}

.show_menu  {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.chapter_menu {
  font: 12px/18px sans-serif;
  position: absolute;
  width: 158px;
  display: none;
  margin: 0;
  padding: 0;
  border: 1px solid;
  border-color: #fff;
  border: 1px solid #000;
  text-align: left;
  list-style: none;
  cursor: pointer;
  z-index: 1;
}

.chapter_menu li {
  padding: 5px;
  background: #fff;
  display: block;
}

.chapter_menu a li {
  color: #000;
  text-decoration: underline;
}

.chapter_menu a:hover li {
  color: #fff;
}

.chapter_menu li:hover {
   background: #000;
}


#translate_table {
  width: 100%;
  margin-bottom: 0px;
  border: 0;
  border-collapse:collapse;
  font: 16px/22px;
  table-spacing: 0;
}
#translate_table th {
  border-bottom: 1px solid #000;
}

#translate_table th, #translate_table td {
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

#translate_table th:last-of-type, #translate_table td:last-of-type {
  padding-right: 0;
}

#translate_table .title {
  width: 100%;
  text-align: left;
  white-space: normal;
}

#translate_table .left {
  text-align: left;
}

td.best {
  background-color: #00ff00;
}

td.banned {
  background-color: #ff0000;
}
