body {
  font: "Times New Roman", sans-serif;
}

h1 {
  font-size: 18pt;
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  margin: 0 0 20px 0;
}

fieldset {
  background-color: #eee;
}

fieldset  legend {
  font-size: 12pt;
  font-family: "Tahoma", sans-serif;
  background-color: #eee;
  padding: 0 5px 2px;
}

div.form_input {
  display: block;
  margin: 1em 0 0.4em;
  vertical-align: top;
}

span.param_title {
  display: inline-block;
  padding-top: 1px;
  width: 180px;
  vertical-align: top;
}

.header {
  position: relative;
  display: block;
  background-color: #3366CC;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  color: white;
  text-align: center;
}
.middle_text {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
}
.main {
  position: relative;
  display: block;
  top: 10px;
  width: 1100px;
  min-height: 682px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  position: relative;
  float: left;
  min-height: 682px;
  display: block;
  width: 75%;
  border: 1px solid black;
}

.user {
  position: relative;
  float: right;
  display: block;
  width: 24%;
  height: 250px;
  border: 1px solid black;
}
.news {
  float: right;
  position: relative;
  display: block;
  top: 10px;
  width: 24%;
  height: 420px;
  border: 1px solid black;
}
.footer {
  position: relative;
  display: block;
  background-color: #6699EE;
  top: 20px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  color: white;
  text-align: center;
}
