div.menu_header {
	width:100%; 
	border:1px solid black;
	margin:0;
	padding:0;
}
div.menu_footer {
	width:100%; 
	border:1px solid black;
	margin:0;
	padding:0;
}
table.menu_header {
	width:100%; 
	border-spacing:0;
	height:23px; 
}
tr.menu_header {
	width:100%; 
	height:100%; 
	margin:0px;
	padding:0px;
}
td.menu_header {
	text-align:center;
	vertical-align:middle;
	width:25%; 
	padding:0;
}
td.menu_footer {
	text-align:center;
	width:20%; 
}
td.menu_footer_chbox {
	vertical-align:middle;
	width:20%; 
	padding:0;
}
label.chbox_label{
	margin-bottom:2px;
}
td.menu_header_current {
	text-align:center;
	font-size:large;
	width:25%; 
	background:#3366CC;
}
div.menu_item {
   cursor:pointer;  
} 
div.menu_head A {
    text-decoration: none; 
} 
div.messages_content {
	width:100%; 
	min-height:632px;
	max-height:632px;
	overflow-y: auto;
	overflow-x: hidden;
}
div.messages_item {
	width:100%; 
	height:48px;
    border: 1px solid black; 
	border-collapse:0px;
}
div.chbox {
	display:inline-block;
	height:100%;
	width:2%;
	vertical-align:top;
}
div.mainchbox {
	display:inline;
	margin:0;
	padding:0;
}

input.chbox {
	position: relative;
	top: 17px;
	vertical-align:middle;
}
div.messages_data {
	display: inline-block;
	width:97%;
    background: #ffffff; 
    padding: 2px;
	height:92%;
}
div.message {
	width:100%;
	height:100%;
}
div.messages_data:hover {
	background:#BABABA;
}	
div.message_name {
   display: inline-block;
   width:78%;
   height:20px;
   cursor: default;
}
div.message_date {
   float:right;
   display: inline-block;
   width:20%;
   height:20px;
   cursor: default;
}
div.message_text {
   width:100%;
   height:25px;
   cursor: default;
}
div.message_unreaded  {
	width:100%;
	height:100%;
	font-weight: bold;
}
span.text{
	margin: 5px 0 5px 5px;
}