div.menu_header {
	width:100%; 
	border:1px solid black;
	margin:0;
	padding:0;
}
div.menu_footer {
	width:100%; 
	border:1px solid black;
	margin:0;
	padding:0;
}
table.menu_header {
	width:100%; 
	border-spacing:0;
	height:23px; 
	text-align:center;
}
tr.menu_header {
	width:100%; 
	height:100%; 
	margin:0px;
	padding:0px;
	text-align:center;
}
td.menu_header {
	text-align:center;
	vertical-align:middle;
	width:25%; 
	padding:0;
}
td.menu_header_current {
	text-align:center;
	font-size:large;
	width:25%; 
	background:#3366CC;
}
td.menu_footer {
	text-align:center;
	width:20%; 
}
td.menu_footer_chbox {
	vertical-align:middle;
	width:20%; 
}
label.chbox_label{
	margin-bottom:2px;
}
div.menu_item {
   cursor:pointer;  
} 
div.dialog_content {
	width:100%; 
	min-height:482px;
	max-height:482px;
	overflow-y: auto;
	overflow-x: hidden;
}
div.messages_list {
	width:100%; 
	height:507px;
	margin:0;
	padding:0;
}
div.answer_area {
	width:75%; 
	height:150px;
	padding:0;	
}
div.dialog_item {
	width:100%; 
	height:48px;
    border: 1px solid black; 
	border-collapse:0px;
}
div.chbox {
	display:inline-block;
	height:100%;
	width:2%;
	vertical-align:top;
}
input.chbox {
	position: relative;
	top: 17px;
	vertical-align:middle;
}
div.mainchbox {
	display:inline;
	margin:0;
	padding:0;
}
div.dialogs_data {
	display: inline-block;
	width:97%;
    background: #ffffff; 
    padding: 2px;
	height:92%;
}
div.message {
	width:100%;
	height:100%;
}
div.dialogs_data:hover {
	background:#BABABA;
}
	
div.message_name {
   display: inline-block;
   width:78%;
   height:20px;
   cursor: default;
}
div.message_date {
   float:right;
   display: inline-block;
   width:20%;
   height:20px;
   cursor: default;
}
div.message_text {
   width:100%;
   height:25px;
   cursor: default;
}
div.message_unreaded  {
	width:100%;
	height:100%;
	font-weight: bold;
}
span.text{
	margin: 5px 0 5px 5px;
}
textarea.answer_area {
	padding-left:5px;
	border: 1px solid black; 
	height:60%;
	width:100%;
	margin-left:20px;
	margin-top:10px;
	resize: none;
	font-family:'Times New Roman';
	font-size:11pt;
	outline: none;
	-moz-appearance: none;
	border: 1px solid #999;
}
div.submit_button {
	width:150px;
	height:20%;
	margin-top:5px;
	margin-left:20px;
}
input.submit_button {
	width:150px;
	height:30px;
}