#information {
  margin-top: 20px;
}

fieldset {
  margin-top: -5px;
}

input {
	width: 150px;
}

 input.wide_input {
	width: 300px;
}

select {
	width: 150px;
}

textarea {
	width: 300px;
  resize: none;
}

.form_error {
  font-size: 14px;
  margin-left: 0.5em;
  color: #f00;
}