.article {
	width: 99%;
	margin-bottom: 15px;
}

.article:hover {
	background: #d0d2ff;
<<<<<<< HEAD
}

.news_title {
	width: 99%;
	margin-bottom: 15px;
}

.news_title:hover {
	background: #d0d2ff;
=======
>>>>>>> 851bfc8e1dba7291e36748c6e92f79536780a3e8
}